################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/run/v15
/.vs/run/v16/Browse.VC.opendb
/.vs/run/v16/Browse.VC.db
